<div style="width: 100%">
    <form name="device_login_form" ng-submit="ctrl.login_or_register()">
        <table>
            <thead>
            <tr>
                <th></th>
                <th style="width:52px"></th>
                <th style="width:52px"></th>
                <th style="width:52px"></th>
                <th></th>
            </tr>
            </thead>
            <tbody title="{{ctrl.texts.auth.app_login_title}}">
            <tr>
            <tr>
                <td colspan="5"><b>{{ctrl.texts.auth.app_login_header}}</b></td>
            </tr>
                <td>{{null|formatProviderName}}</td>
                <td><img ng-src="{{null|formatProviderSrc}}" class="small_pro_pic"></td>
                <td><img ng-src="{{ctrl.trafic_light_status(null)|formatProviderTraficLightSrc}}" class="small_pro_pic"></td>
                <td>
                    <input type="image" ng-src="{{ctrl.is_logged_in(null)|formatLoginSrc}}" ng-hide="ctrl.is_logged_in(null)" ng-disabled="device_login_form.$invalid" class="small_pro_pic">
                </td>
                <td>
                    <img ng-src="{{ctrl.is_logged_out(null)|formatLogoutSrc}}" ng-click="ctrl.logout(null)" class="small_pro_pic">
                </td>
            </tr>
            <tr ng-hide="ctrl.is_logged_in(null)">
                <td>{{ctrl.texts.auth.password_prompt}}</td>
                <td colspan="3">
                    <input type="password" id="device_password" ng-model="ctrl.device_password"
                           required="" ng-minlength="10" ng-maxlength="50" placeholder="{{ctrl.texts.auth.password_placeholder}}"
                           style="width: 145px">
                </td>
                <td><input type="submit" value="{{ctrl.texts.auth.log_in_button}}" ng-hide="ctrl.register" ng-disabled="device_login_form.$invalid"></td>
            </tr>
            <tr ng-show="ctrl.register">
                <td><span ng-bind-html="ctrl.texts.auth.confirm_password_prompt"></span></td>
                <td colspan="3">
                    <input type='password' id="confirm_device_password" ng-model="ctrl.confirm_device_password"
                           ng-minlength="10" ng-maxlength="50" placeholder="{{ctrl.texts.auth.confirm_password_placeholder}}"
                           style="width: 145px">
                </td>
                <td><input type="submit" value="{{ctrl.texts.auth.register_button}}" ng-disabled="ctrl.register_disabled()"></td>
            </tr>
            <tr ng-hide="ctrl.is_logged_in(null)">
                <td></td>
                <td colspan="4">
                    {{ctrl.texts.auth.radio_log_in_prompt}} <input type="radio" ng-model="ctrl.register" value=""> &nbsp;&nbsp;
                    {{ctrl.texts.auth.radio_register_prompt}} <input type="radio" ng-model="ctrl.register" value="x">
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">{{ctrl.login_or_register_error}}</td>
            </tr>
            </tbody>
            <tbody ng-show="ctrl.is_logged_in(null)" title="{{ctrl.texts.auth.provider_login_title}}">
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5"><b>{{ctrl.texts.auth.provider_login_header}}</b></td>
            </tr>
            <tr ng-repeat="provider in ctrl.providers">
                <td><a href="{{provider|formatProviderHomeUrl}}" target="_blank">{{provider|formatProviderName}}</a></td>
                <td><img ng-src="{{provider|formatProviderSrc}}" class="small_pro_pic"></td>
                <td><img ng-src="{{ctrl.trafic_light_status(provider)|formatProviderTraficLightSrc}}" class="small_pro_pic"></td>
                <td>
                    <img ng-src="{{ctrl.is_logged_in(provider)|formatLoginSrc}}" class="small_pro_pic"
                         ng-click="ctrl.login(provider)">
                </td>
                <td><img ng-src="{{ctrl.is_logged_off(provider)|formatLogoutSrc}}" class="small_pro_pic"
                         ng-click="ctrl.logout(provider)">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div style="width: 100%">
    <hr>
</div>