<a href="#" id="share_gift" style="display: none">share gift</a>

<table id="gifts">
  <%= render :partial => 'table_header_row' %>
  <%= render :partial => 'api_gift', :locals => {:api_gift => @gift} %>
</table>